.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* 모달이 다른 요소 위에 표시되도록 */
    opacity: 0;
    animation: fadeIn 0.3s forwards; /* 모달이 부드럽게 나타나도록 */
}

/* 모달 창 스타일 */
.modal {
    background-color: #fff;
    width: 450px;
    padding: 20px 50px 0 50px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
    text-align: left;
    transform: translateY(-20px);
    animation: slideUp 0.3s ease-out forwards; /* 모달이 위에서 내려오는 애니메이션 */
}

/* 모달 헤더 */
.modal h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
    font-weight: 600;
}

/* 모달 콘텐츠 */
.modal-content {
    margin-top: 15px;
}

.modal-content p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}
.modal-content span{
    font-size: 15px;
    width: 110px;
    display: inline-block;
}
.modal-content h4{
    text-align: center;
    margin-top: 20px;
}
/* 레이블 스타일 */
.modal-content label {
    display: block;
    font-size: 12px;
    color: #333;
}
.modal-content .label-div{
    margin-top: 10px;
}
/* 입력 필드 스타일 */
.modal-content input,
.modal-content select {
    width: 300px;
    padding: 10px;
    margin: 5px 0 0 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    box-sizing: border-box; /* 박스 크기 계산 방식 변경 */
    transition: border-color 0.3s ease;
}

.modal-content input:focus,
.modal-content select:focus {
    border-color: #f1863c;
    outline: none;
}

/* 액션 버튼들 스타일 */
.modal-actions {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.modal-actions button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* 저장 버튼 스타일 */
.modal-actions button:first-of-type {
    background-color: #f1863c;
    color: white;
}

.modal-actions button:first-of-type:hover {
    background-color: #c86f35; /* 저장 버튼에 hover 효과 */
}

/* 취소 버튼 스타일 */
.modal-actions button:last-of-type {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ddd;
}

.modal-actions button:last-of-type:hover {
    background-color: #e0e0e0; /* 취소 버튼에 hover 효과 */
}

/* 애니메이션 효과 */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0);
    }
}