html, body {
    height: 100%; /* html과 body의 높이를 100%로 설정하여 전체 화면을 차지하게 함 */
    margin: 0; /* 기본 여백을 제거하여 요소들이 경계에 딱 붙도록 함 */
}

.parent-container {
    display: flex; /* 좌우로 배치 */
    height: calc(100vh - 80px); /* 전체 화면에서 header 높이만큼 뺀 높이 설정 */
}

.sideMenu {
    width: 200px; /* 왼쪽 메뉴의 너비 */
    height: 100%; /* parent-container의 높이 전체를 채움 */
    background-color: #f0f0f0;
    padding: 15px;
    text-align: center;
}

.sideMenu ul {
    list-style: none; /* 기본 리스트 스타일 제거 (점, 숫자 등) */
    padding: 0; /* 내부 여백 제거 */
}

.sideMenu li {
    margin-bottom: 10px; /* 리스트 항목 간의 아래쪽 여백을 10px로 설정 */
    cursor: pointer; /* 마우스를 올렸을 때 포인터 커서로 변경 */
    padding: 5px 0; /* 위아래 여백을 추가하여 구분선과 내용을 구분 */
    border-bottom: 1px solid #ddd; /* 아래쪽에 연한 회색 실선 구분선 추가 */
}

/*.sideMenu li:hover {*/
/*    background-color: #e9e9e9; !* 호버 시 배경색 변경 *!*/
/*}*/
